<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Monefy App Automation">
    <listeners>
        <listener class-name="utils.Listeners"/>
    </listeners>

    <test name="all-tests">
        <packages>
            <package name=".*" />
        </packages>
    </test>




</suite>